.App {
  text-align: center;

}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

.image0,.image1, .image2, .image3, .image4{
padding: 30px;
  width: 200px;
  height: 200px;
}

.ImageHolder{
  background-color: #212134;
  min-height: 70vh;


  display: flex;
  /*  flex-direction: column;*/
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  background-color: #212134;
   min-height: 25vh;


  /*display: flex;*/
  /*  flex-direction: column;*/
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text ,.btn
{

  margin: 20px;

}

ul {
  display: flex;
  flex-flow: row wrap;
}

li{

  list-style: none;
}

img {
  width: 350px;
  cursor: pointer;
}